@using BookS.Models
@using PagedList.Mvc;

@model PagedList.PagedList<SACH>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




  <div class="row">
        @foreach (var i in Model)
        {

            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="thumbnail">
                    <img src="~/image/@i.Anhbia" alt="">
                    
                    <div class="caption">
                        <h5>
                            <a href="@Url.Action("ChitietSP","Home",new {id=i.MaSach})">@i.TenSach</a>
                        </h5>
                        <h4 class="pull-left">@i.GiaBan vnd</h4>

                    </div>
                    <div class="ratings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

@*Tạo liện kết các trang*@

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount;

<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
    }
</style>



