
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/shop-homepage.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body style="background-color:#F6F6F6">
    <div class="container" >
        <div class="row">
            <nav class="navbar navbar-inverse navbar-fixed-top">
              
                <div class="container">
                    <div style="margin-left:100px;margin-right:100px;">
                        <ul class="nav nav-justified" style="margin:auto">
                            <li class="navbar-brand">coo</li>
                            <li><a href="@Url.Action("SPChude","Home",new {id = 4})">Mac</a></li>
                            <li><a href="@Url.Action("SPChude","Home",new {id = 1})">iPhone</a></li>
                            <li><a href="@Url.Action("SPChude","Home",new {id = 2})">iPad</a></li>
                            <li><a href="@Url.Action("SPChude","Home",new {id = 5})">Watch</a></li>
                            <li><a href="@Url.Action("Index","News")">News</a></li>
                            <li><a href="@Url.Action("SPChude","Home")">Contact</a></li>
                            <li><a href="@Url.Action("Introduct","News")">Introduce</a></li>
                            <li><a href="@Url.Action("GioHang","Giohang")"><span class="glyphicon glyphicon-shopping-cart" style="color:red"></span>1</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                        </ul>
                    </div>
                </div>
               
            </nav>


            @RenderBody()



            
        </div>
    </div>
   
    
 
    


    <div class="container" style="margin-top:100px;">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    
</body>
</html>
