@using BookS.Models
@using PagedList.Mvc;


@model PagedList.PagedList<TIN_TUC_tt>
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<div class="row">
    @{
            
            foreach (var i in Model)
            {


            <div class="col-md-8 col-md-offset-2">
                <hr />
                <div class="col-md-2"style="margin-bottom:20px;">
                    <img src="https://www.iconfinder.com/data/icons/ieducation-set-8/512/badass-512.png" style="width:70%;" class="img-circle"/>
                </div>
                <div class="col-md-5">
                    <h3>@i.ADMIN_tt.TenAdmin</h3>
                </div>
                <div class="col-md-12">
                    <img src="~/image/bia_TinTuc/@i.AnhBia" style="width:100%;"/>
                </div>
                <div class="col-md-12" style="margin-top:20px;margin-bottom:20px;">
                    <h3><a href="@Url.Action("introduct","News",new { id = @i.MaTin})">@i.TieuDe</a></h3>
                    <p id="noidung">@i.Tomtat</p>
                    
                </div>
            </div>
        }
    }


</div>



@*Tạo liện kết các trang*@

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
    }

    .left {
    }

    .right {
    }

    .p {
        padding-top: 130px;
    }
</style>



