@model BookS.Areas.admin.Models.deviceDetail

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detail</h2>
<div class="container">
    <hr />
    <div id="left" class="col-md-8">
        <h3>Thông tin chi tiết</h3>
        <div class="col-md-4">
            <img src="~/image/DEVICE/@Model.detailD.AnhBia" style="width:100%"/>
        </div>
        <div class="col-md-8">
            <table class="table-bordered col-md-12">
                <tr>
                    <td>TenDevice</td>
                    <td>@Model.detailD.TenDevice</td>
                </tr>
                <tr>
                    <td>TenChuDe</td>
                    <td>@Model.detailD.CHU_DE.TenChuDe</td>
                </tr>
                <tr>
                    <td>GiaBan</td>
                    <td>@Model.detailD.GiaBan</td>
                </tr>
                <tr>
                    <td>MaCD</td>
                    <td>@Model.detailD.MaCD</td>
                </tr>
                <tr>
                    <td>MaDevice</td>
                    <td>@Model.detailD.MaDevice</td>
                </tr>
                <tr>
                    <td>MaNSX</td>
                    <td>@Model.detailD.MaNSX</td>
                </tr>
                <tr>
                    <td>NgayCapNhat</td>
                    <td>@Model.detailD.NgayCapNhat</td>
                </tr>
                <tr>
                    <td>TenNSX</td>
                    <td>@Model.detailD.NHA_SAN_XUAT.TenNSX</td>
                </tr>
            </table>
            <div class="col-md-12">
                <hr />
                <p>@Model.detailD.MoTa</p>
            </div>
            
        </div>
        
    </div>
    
    <div id="right" class="col-md-4">
        
        <h3>Thông số kỹ thuật</h3>
      

        <table class="table-bordered">
            <tbody>
                
                <tr>
                    <td class="col-md-6">MaChiTiet</td>
                    <td class="col-md-6">@Model.detailS.MaChiTiet</td>
                </tr>
                <tr>
                    <td class="col-md-6">MaDev</td>
                    <td class="col-md-6">@Model.detailS.MaDev</td>
                </tr>
                <tr>
                    <td class="col-md-6">CPU</td>
                    <td class="col-md-6">@Model.detailS.CPU</td>
                </tr>
                <tr>
                    <td class="col-md-6">RAM</td>
                    <td class="col-md-6">@Model.detailS.RAM</td>
                </tr>
                <tr>
                    <td class="col-md-6">HeDieuHanh</td>
                    <td class="col-md-6">@Model.detailS.HeDieuHanh</td>
                </tr>
                

               
            </tbody>
        </table>

        <table class="table-bordered col-md-12">
           
            @foreach (var i in Model.sheet)
            {
                

                <tr>
                    
                    <td style="background-color:@i.MauSac" class="col-md-3"></td>
                    <td class="col-md-6">@i.BoNhoTrong</td>
                </tr>
            }
        </table>
    </div>

    <hr />
</div>

