

@using BookS.Models
@using PagedList.Mvc;


@model PagedList.PagedList<DEVICE>

@helper Truncate(string input,int lenght) {
if (input != null)
{
    if (input.Length < lenght)
    {
            @input
    }
    else
    {
            @input.Substring(0, lenght)<text>...</text>
    }
}


}


@{
    ViewBag.Title = "device";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>device</h2>

<p>
    @Html.ActionLink("Creat New","CreatNew","Admin")
</p>
<table class="table table-hover container">
    <tr>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().TenDevice)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().GiaBan)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.First().MoTa)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().AnhBia)
            
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().NgayCapNhat)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().SoLuongTon)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().MaCD)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().MaNSX)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDevice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            
            @Truncate(item.MoTa,100)
        </td>
        <td>
            
            <img src="@Url.Content("~/Image/DEVICE/"+item.AnhBia)" style="width:100%"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongTon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHU_DE.TenChuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNSX)
        </td>
        <td class="col-md-1">
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDevice }) |
            @Html.ActionLink("Details", "Detail", new { id=item.MaDevice }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDevice })
            
        </td>
    </tr>
}

</table>

@*Tạo liện kết các trang*@

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("device", new { page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
    }

    .left {
    }

    .right {
    }

    .p {
        padding-top: 130px;
    }
</style>
