@using BookS.Models
@model List<Giohang>

@{
    ViewBag.Title = "Đơn đặt hàng";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div>

</div>
<div id="contai" class="row">
    <h3>information deliver</h3>
    
    @foreach (var i in Model)
    {
        <div class="col-md-10" style="margin-top:100px;">
            <div id="left" class="col-md-2 col-md-offset-2">
                <img src="~/image/DEVICE/@i.sAnhbia" style="width:50%;height:50%" />
            </div>
            <div id="containerRight">
                <div class="col-md-4" id="left">
                    <h4>@i.sTensach </h4>
                    <h3>@String.Format("{0:0,0}", @i.dDongia * 22000) VND</h3>
                    <h3>@i.iSoluong</h3>
                    <h3>@String.Format("{0:0,0}", @i.dThanhtien) VND</h3>
                </div>
                <div class="col-md-4" id="right">
                    <ul>
                        <li>
                            1.1GHz dual-core Intel Core m3, Turbo Boost up to 2.2GHz
                        </li>
                        <li>
                            8GB 1866MHz LPDDR3 SDRAM
                        </li>
                        <li>
                            256GB PCIe-based onboard flash storage
                        </li>
                        <li>
                            Intel HD Graphics 515
                        </li>
                        <li>
                            Backlit Keyboard (English) & User's Guide
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }


</div>

<div id="contai" class="row">
    <div class="col-md-5 col-md-offset-2">
        <h3>Shipping Address</h3>
        <form class="form-horizontal" style="margin-top:30px">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="example@gmail.com">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="example@gmail.com">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Address</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="example@gmail.com">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="example@gmail.com">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    
</div>

<style>
    #contai{
        text-align:center;
    }
    #right > ul{
        text-align:left
    }
    #left > h3{
        color:cornflowerblue
    }
</style>
